@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; 

  @include respond(tab-land) {
    // width < 1200px
    font-size: 56.25%; 
  }

  @include respond(tab-port) {
    //width < 900
    font-size: 50%;
  } 

  @include respond(big-desktop) {
    font-size: 75%; 
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}


// Change the background color of the selected text
::selection {
  background-color: $color-primary;
  color: $color-white;
}
